<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CSVLoader"  providerName="System.Data.SqlClient" connectionString="data source=DESKTOP-Q24HJ8M\SQLEXPRESS;initial catalog=TaxCalculator;integrated security=True" />
  </connectionStrings>
</configuration>